state_change_freq.txt

# Doxygen
html
latex

# Graphs and images
*.dot
*.graph
*.png

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.out.dSYM
*.app

#CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# Various output files
a.pdf
dag_0.pdf
hexq
plain_sarsa
initial_0.pdf
test.cpp
*.save

montezuma_revenge_*
